.navbar-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  width: 100%;
  height: 5vh;
  display: flex;
  align-items: center;

  .navbar-left-content {
    display: flex;
    justify-content: left;
    gap: 2vw;
    width: 100%;
  }

  .navbar-right-content {
    display: flex;
    justify-content: right;
    gap: 2vw;
    width: 100%;
  }


  .ham {
    display: none;
  }

}


.logo {
  cursor: pointer;
}

@media (max-width : 814px) {
  .navbar-wrapper {
    .navbar-left-content {
      display: none;
    }

    .ham {
      display: block;
      width: 25px;
      height: 25px;
    }
  }

}